.tabs-bar
	grid-column: 2 / 3
	grid-row: 2 / 3

	@include breakpoint-up(medium)
		margin-bottom: 0

	&__item
		padding-top: 0.3125rem
		padding-bottom: 0.3125rem
		display: block
		width: 100%
		text-align: right
		letter-spacing: 5px
		background-color: transparent
		border: 0
		border-radius: 5px
		cursor: pointer
		transition: letter-spacing 150ms ease-in-out, background-color 300ms ease-in-out

		@include breakpoint-up(medium)
			text-align: left

		&:hover
			background-color: $clr-light
			letter-spacing: 7px

		&[aria-selected="true"]
			background-color: $clr-accent
